<div class="row">
  <h1>Hard & soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [title]="'HTML'"
      [titleColor]="'black'"
      [titleFontSize]="'2EM'"
      [showUnits]="false"
      [subtitle]="'70%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="100"
      [title]="'JAVASCRIPT'"
      [titleColor]="'black'"
      [titleFontSize]="'1.7EM'"
      [showUnits]="false"
      [subtitle]="'65%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [title]="'CSS'"
      [titleColor]="'black'"
      [titleFontSize]="'2EM'"
      [showUnits]="false"
      [subtitle]="'80%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="66"
      [radius]="100"
      [title]="'GITHUB'"
      [titleColor]="'black'"
      [titleFontSize]="'2EM'"
      [showUnits]="false"
      [subtitle]="'66%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [title]="'INGLES'"
      [titleColor]="'black'"
      [titleFontSize]="'2EM'"
      [showUnits]="false"
      [subtitle]="'80%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [title]="'TEAM WORK'"
      [titleColor]="'black'"
      [titleFontSize]="'1.7EM'"
      [showUnits]="false"
      [subtitle]="'100%'"
      [subtitleFontSize]="'1.5EM'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#005954'"
      [outerStrokeGradientStopColor]="'#5dc1b9'"
      [innerStrokeColor]="'#5dc1b9'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>

</div>
