 <div class="row">
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
            <img src="../../../assets/foto de perfil.png"
             class="img-fluid">
       </div> 
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <h1 id="nombre"> Gisela Lalala</h1>
          <p>full stack developer</p>
       </div>
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <span>
               <h1>  Acerca de mi    </h1>
               <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo a perferendis illo optio obcaecati quibusdam expedita! Exercitationem 
                    fuga commodi eligendi perspiciatis beatae quisquam laborum, facilis id nostrum enim vero.
               </p>
          </span>
       </div>    
</div>
