<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-10">
        <ul>
            <li><h3>Educacion 1</h3>  -  <h3>(Años)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos ipsa a odit iste vitae eaque,
                 quisquam hic quia impedit quasi! Perferendis sint nam illo blanditiis assumenda corrupti a culpa.
            </p>
        </ul>
        <ul>
            <li><h3>Educacion 2</h3>  -  <h3>(Años)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos ipsa a odit iste vitae eaque,
                 quisquam hic quia impedit quasi! Perferendis sint nam illo blanditiis assumenda corrupti a culpa.
            </p>
        </ul>
